body {
	background-image: url("../images/star-wars-background.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.img-thumbnail {
	background-color: pink;
	border: 2px solid pink;
	height: 100px;
	width: 100px;
}

.enemy {
	background-color: orange;
	border: 2px solid orange;
	height: 100px;
	width: 100px;
}

.chosen-character .img-thumbnail {
	height: 150px;
	width: 150px;
}

.defender-character .img-thumbnail {
	height: 150px;
	width: 150px;
	background-color: orange;
	border: 2px solid orange;
}

.enemy-character {
	display: inline-block;
	margin-right: 1em;
}

.enemy-character {
	display: inline-block;
	margin-right: 1em;
}

.enemy-character .img-thumbnail {
	background-color: red;
	border: 2px solid red;
}

#luke, #yoda, #darth-vader, #darth-sidious, #darth-maul {
	display: inline-block;
	text-align: center;
    margin-right: 1em;
}

#characters-available {
	text-align: center;
}

#chosen-chartacter {
	text-align: center;
}

#defender-div {
	text-align: center;
}

#game-message {
	font-size: 1.5em;
	font-weight: bold;
	color: black;
}